<!-- <div class = "graphichead">Trump Quotes </div>
    <p class = "subtitle">Here is what Trump said about different countries from all around the world. Hover over the country to see what he said.</p> -->
    <div class = "total_container">

        <div class = "map_container">
            <div class = "toolTip">
                <h1 class = "intro"> Trump on the world:<h1>

                <div class = "toolTip_container">
                    <h3><span id = "instructions">&nbsp;</span></h3>
                    <h3><span id = "country">&nbsp;</span></h3>
                    <h3><span id = "quote">&nbsp;</span></h3>
                    <h3><span id = "year">&nbsp;</span></h3>
                </div>
            </div>

            <div class ="world_map">
                <div class = "legend">
                    <div class = "legend_piece">
                        <div class = "squareBox1"></div>
                        <p class = "text">Positive</p>
                    </div>
                    <div class = "legend_piece">
                        <div class = "squareBox2"></div>
                        <p class = "text">Negative</p>
                    </div>
                    <div class = "legend_piece">
                        <div class = "squareBox3"></div>
                        <p class = "text">Both</p>
                    </div>
                    <div class = "legend_piece">
                        <div class = "squareBox4"></div>
                        <p class = "text">Unsure</p>
                    </div>
                    <div class = "legend_piece">
                        <div class = "squareBox5"></div>
                        <p class = "text">Not Applicable (N/A)</p>
                    </div>
                </div>
                <div class="button-wrapper">
                    <button class="btn btn--primary" id="zoom_in">+</button>
                    <button class="btn btn--primary" id="zoom_out">-</button>
                </div>

            </div>
        </div>
    </div>
